[tw_color_body] {
	flex-direction: row;
	gap: var(--mol_gap_block);
}

[tw_color_box] {
	background-color: red;
	width: 200px;
	height: 200px;
	border-radius: var(--mol_gap_block);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
