[tw_color_body] {
	flex-direction: row;
	gap: var(--mol_gap_block);
}

[tw_box] {
	background-color: red;
	width: 100px;
	height: 100px;
	border-radius: var(--mol_gap_block);
	display: flex;
	justify-content: center;
	align-items: center;
}
